body{
    margin: 1%;
}
.padre{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    height: 1930PX;

}
.contenido1{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height:270px;
    gap: 15px;
}

.cont1{
    background-color: rgb(161, 161, 230);
    height: 90px;
}

.cont2{
    background-color: rgb(204, 236, 236);
    height: 90px;
}

.cont3{
    background-color: rgb(245, 185, 73);
    height: 240px;
   
}

.contenido2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 450px;
}

.cont4{
    background-color: greenyellow;
    width: auto;
    height: 450px;
}

.contenid2{
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 30px;
    background-color: rgb(215, 228, 215);
    height: 450px;
}

.cont5{
    background-color: rgb(79, 105, 67);
    height: 120px;
}


.cont6{
    background-color: rgb(174, 212, 156);
    height: 130px;

}

.cont7{
    background-color: rgb(180, 245, 150);
    height: 140px;
}

.contenido3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 700PX;
}

.cont8{
    background-color: rgb(204, 207, 197);
    width: auto;
    height: 700px;
}

.contenid3{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.cont10{
    background-color: rgb(59, 32, 104);
    
}

.cont11{
    background-color: rgb(234, 109, 238);

}

.contenido4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height:270px;
    gap: 10px;
}

.cont12{
    background-color: brown;
}